<ion-view  hide-back-button="false" hide-nav-bar="true">
  <ion-content has-tabs="true" padding="true">
  
  <div class="row">
    <div class="col col-100 text-center">
      <h4>Room Code: {{ username }}</h3>
    </div>
  </div>

  <div class="list list-inset">
    <label class="item item-input item-icon-right">
      <i class="icon placeholder-icon" ng-class="(!$parent.selectedStart) ? 'ion-search' : 'ion-checkmark-round icon-balanced' "></i>
      <input type="text" 
        ng-model="$parent.start" 
        ng-change="getArtistNames(start, true)" 
        placeholder="Start Artist">
    </label>

    <ion-list>
      <ion-item ng-repeat="artist in artistNames" ng-show="isStart" ng-click="selectArtist(artist, true)">
        {{ artist.name }}
      </ion-item>
    </ion-list>

    <label class="item item-input item-icon-right">
      <i class="icon ion-search placeholder-icon"  ng-class="(!$parent.selectedEnd) ? 'ion-search' : 'ion-checkmark-round  icon-balanced' "></i>
      <input type="text" 
        ng-model="$parent.end" 
        ng-change="getArtistNames(end, false)" 
        placeholder="End Artist">
    </label>

    <ion-list>
      <ion-item ng-repeat="artist in artistNames" ng-show="!isStart" ng-click="selectArtist(artist, false)">
        {{ artist.name }}
      </ion-item>
    </ion-list>
  </div>

  <div class="row">
    <div class="col text-center">
      <h4>Players</h4>  
    </div>
  </div>
  <ion-list>
    <ion-item ng-show="checkAmountOfPlayers()" class="text-center">
        Waiting for more players..
    </ion-item>
    <ion-item ng-repeat="player in players">
      {{ player.name }}
    </ion-item>
  </ion-list>
  
  <button ng-click="startGame()" ng-disabled="checkAmountOfPlayers() ||  !$parent.selectedEnd || !$parent.selectedEnd" class="button button-block button-full  button-balanced">
    Start Game!
  </button>  
  <div class="row">
  </div>

    <button ng-click="logout()" class=" button button-clear button-full button-assertive">
      Go back (log out)
    </button>  

  </ion-content>
</ion-view>
