<ion-view  hide-back-button="false" hide-nav-bar="true">
  <ion-content has-tabs="true" padding="true">

  <h2>Dijkstra's Symphony</h2>
  <h4>How good do you relate?</h4>

  <div class="actions">
    <div class="row text-center">
      <button ng-click="$state.go('host')" class=" button button-block  button-assertive">
        Host
      </button>  
    </div>
    <div class="row text-center">
      <button ng-click="$state.go('join')" class="button button-block button-balanced">
        Join
      </button>  
    </div>
  </div>

  </ion-content>
</ion-view>


