<ion-view  hide-back-button="false" hide-nav-bar="true">
  <ion-content has-tabs="true" padding="true">
  	<div class="row">
  		<div class="col col-100 text-center">
  			<h1>Congratulations!</h1>
  		</div>
  	</div>
  	<div class="row">
  		<div class="coltext-center">
  			You tubmled your way from {{ startArtist.name }} to {{ endArtist.name }} in {{ steps }} jumps.
  		</div>
  	</div>

    <h4>Players</h4>
    
    <ion-list>
      <ion-item ng-repeat="player in players">
        <div class="item">
          {{ player.name }}
          <span class="item-note">
            {{ player.status }}
          </span>
        </div>
      </ion-item>
    </ion-list>

  	<div class="row">
  		<div class="col col-50 text-center">
  			<button ng-click="$state.go('splash')" class="button button-block button-full button-assertive">
  				Exit to menu
  			</button>
  		</div>
  		<div class="col col-50 text-center">
  			<button ng-click="$state.go('lobby')" class="button button-block button-full button-balanced">
  				Start new
  			</button>
  		</div>
  	</div>  
  </ion-content>
</ion-view>